body {
  font-size: 14px;
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro',
    'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;
  line-height: 1.4;
  color: #333;
  background: #fff;
  padding: 0;
  margin: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

a {
  cursor: pointer;
  text-decoration: none !important;
  color: unset;

  &:hover,
  &:focus {
    @include transition(all 0.4s ease);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

figure {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 17px;
}
