@font-face {
  font-family: 'Yu-Gothic Bold';
  src: url('../../fonts/yugothib.ttf');
}

@font-face {
  font-family: 'Yu-Gothic Regular';
  src: url('../../fonts/yugothil.ttf');
}

@font-face {
  font-family: 'Lucida Calligraphy';
  src: url('../../fonts/Lucida_Calligraphy_Italic.ttf');
}
