$large-screen: '(min-width : 1600px)';
$xlarge-screen: '(min-width : 1824px)';
$xxlarge-screen: '(min-width : 2560px)';

@import './mixins';
@import './fonts';
@import './variables';
@import './base';
@import './header';
@import './footer';
@import './sidebar';
@import './section';
@import './media';
